<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <table class="table table-bordered">
    <thead>
      <tr colspan="4" class="text-center">
        <p class="text-uppercase text-center">Rancon fc properties</p>
      </tr>
      <tr colspan="4" class="text-center">
        <p class="text-uppercase text-center">Project Name : Rancon FC</p>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          Land Area (katha)
        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          Construction Area (sft)
        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr colspan="4" class="text-center">
        <p class="text-uppercase text-center">summary sheet</p>
      </tr>
      <tr>
        <th scope="col">SL NO</th>
        <th scope="col">Description of Item</th>
        <th scope="col">Amount in tk</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          A Total Material cost
        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          B Total Labor Cost
        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          Total Cost
        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          A+ B Cost oer sft with respect to construction area
        </td>
        <td colspan="1">

        </td>
      </tr>
    </tbody>
  </table>
  <hr class="text-success font-weight-bolder" height="100px" />


  <table class="table table-bordered">
    <thead>
      <tr colspan="7" class="text-center">
        <p class="text-uppercase text-center">rancon fc properties</p>
      </tr>
      <tr colspan="7" class="text-center">
        <p class="text-uppercase text-center">Project Name : Rancon FC</p>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          Construction Area
        </td>
        <td colspan="1">
          sft
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="7" class="text-center">
          Cost Summary of Pipe & Fittings
        </td>
      </tr>
      <tr>
        <th scope="col">SL NO</th>
        <th scope="col">Description of Item</th>
        <th scope="col">Unit</th>
        <th scope="col">QTY</th>
        <th scope="col">UNIT PRICE</th>
        <th scope="col">Amount</th>
        <th scope="col">Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="7" class="text-center">
          uPVC PIPE
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          Cost of uPVC PIPE
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="7" class="text-center">
          uPVC FITTINGS
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          Cost of uPVC FITTINGS
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="6" class="text-right">
          Total Cost of uPVC PIPE & FITTINGS
        </td>
        <td colspan="1">

        </td>
      </tr>

    </tbody>
  </table>



  <hr class="text-success font-weight-bolder" height="100px" />


  <table class="table table-bordered">
    <thead>
      <tr colspan="4" class="text-center">
        <p class="text-uppercase text-center">rancon fc properties</p>
      </tr>
      <tr colspan="4" class="text-center">
        <p class="text-uppercase text-center">Project Name : Rancon FC</p>
      </tr>
      <tr>
        <td colspan="2" class="text-right">
          Construction Area
        </td>
        <td colspan="1">
          sft
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          Cost Summary of Pipe & Fittings
        </td>
      </tr>
      <tr>
        <th scope="col">SL NO</th>
        <th scope="col">Description of Item</th>
        <th scope="col">Unit</th>
        <th scope="col">QTY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="text-center">
          uPVC PIPE
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">
          Cost of uPVC PIPE
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          uPVC FITTINGS
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">
          Cost of uPVC FITTINGS
        </td>
        <td colspan="1">

        </td>
        <td colspan="1">

        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          Total Cost of uPVC PIPE & FITTINGS
        </td>
        <td colspan="1">

        </td>
      </tr>

    </tbody>
  </table>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>